@import "../../../../styles/global";

.product-wrapper {
	.image-galleries-wrapper {
		.desktop-gallery {
			display: none;
		}

		.mobile-gallery {
			overflow: hidden;

			.img-container {
				display: flex;
				transition: transform 500ms ease;
			}

			[class*="arrow"] {
				position: absolute;
				background-color: $light-grayish-blue;
				padding: 8px 10px;
				border-radius: 50%;
				top: 40%;
				width: 32px;
			}
		}

		.arrow-prev {
			left: 20px;
		}
		.arrow-next {
			right: 20px;
		}

		.lightbox-gallery {
			position: absolute;
			inset: 0;
			width: 40%;
			height: 60%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;

			svg.close-icon path {
				fill: $orange;
			}

			svg.close-icon {
				transform: scale(2);
				display: block;
				margin-bottom: 40px;
				margin-left: auto;
			}

			.mobile-gallery {
				display: block;

				img {
					border-radius: 12px;
				}

				[class*="arrow"] {
					padding: 14px 16px;
					border-radius: 50%;
					top: 60%;
					width: 48px;
				}
			}
		}

		.lightbox-overlay {
			position: absolute;
			inset: 0;
			z-index: 2;
			background-color: $black-750;
		}
	}
}

@media (min-width: 376px) {
	.product-wrapper {
		.image-galleries-wrapper {
			width: 45%;
			.mobile-gallery {
				display: none;
			}

			.desktop-gallery {
				display: flex;
				flex-direction: column;
				gap: 32px;

				img {
					border-radius: 12px;
				}

				.thumbnail-wrapper {
					display: flex;
					gap: 16px;

					.thumbnail-img {
						width: 100px;
						cursor: pointer;
					}

					.thumbnail-img.active {
						border: 3px solid $orange;
					}
				}
			}
		}
	}
}

@media (min-width: 1441px) {
	.product-wrapper {
		.image-galleries-wrapper {
			width: 40%;

			.desktop-gallery {
				.thumbnail-wrapper {
					img {
						width: 88px;
					}
				}
			}
		}
	}
}
