.showcaseWrapper {
	display: flex;
	position: relative;
	transition: all 800ms ease;
}

.prevIcon {
	position: absolute;
	left: 16px;
	top: 40%;
	transform: translateY(-40%);
	background-color: var(--white);
	padding: 12px 14px;
	border-radius: 50%;
}

.nextIcon {
	position: absolute;
	right: 16px;
	top: 40%;
	transform: translateY(-40%);
	background-color: var(--white);
	padding: 12px 14px;
	border-radius: 50%;
}
