header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 72px;
}

.menuLogoWrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}

.userCartWrapper {
	display: flex;
	align-items: center;
	gap: 24px;
}
