.headerSVG {
	position: relative;
}

.productCountNumber {
	position: absolute;
	top: -8px;
	left: 12px;
	z-index: 3;
	background-color: var(--orange);
	color: var(--white);
	font-size: 10px;
	padding: 2px 4px;
	border-radius: 50%;
}

.displayNone {
	display: none;
}
